
.reveal {
    font-family: 'Roboto', Helvetica, sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'Roboto', Helvetica, sans-serif;
}

.reveal pre code {
    font-family: 'Source Code Pro', monospace;
}

section.image {
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

section.image h2 {
    color: white;
    text-transform: lowercase;
}

.reveal pre {
    font-size: 0.45em;
}

.reveal pre.error {
    box-shadow: 0px 0px 6px red;
}

.reveal pre.success {
    box-shadow: 0px 0px 6px green;
}

.reveal pre code {
    padding: 15px;
}

.reveal table th, .reveal table td {
    font-size: 0.8em;
    text-align: center;
    padding: 0.2em 0.9em 0.2em 0.9em;
    border-bottom: 1px solid;
    font-family: monospace;
}

.reveal .highlight {
    background-color: #8fc8dd;
    padding: 0 5px;
    margin: 0 -5px;
}

.reveal section img {
    border: none;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

.reveal section img.no-shadow {
    box-shadow: none;
}

.reveal .progress {
    height: 8px;
}

.reveal .progress .span {
    background: #10acd4;
}

.reveal .quote-small {
    display: block;
    padding-top: 30px;
    color: #6f6f6f;
    font-size: 0.6em;
}

.progress, .slide-number {
    transition: 0.5s opacity;
}

.cover .progress, .cover .slide-number {
    opacity: 0;
}